<configuration>

	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>${user.home}/ovtr/ovtr.log</file>
		<encoder>
			<pattern>%date %level [%thread] %logger{10}:%line %msg%n
			</pattern>
		</encoder>
		<param name="Append" value="false" />
	</appender>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>
	<appender name="WINDOW" class="org.leo.traceroute.ui.util.LogWindow$Appender" />

	<root level="info">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
		<appender-ref ref="WINDOW" />
	</root>
</configuration>